@charset "UTF-8";
/**********************************************
  PC view
**********************************************/
/*====================================
  Common
====================================*/
/*== Font ===*/
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif, serif;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.075em;
  color: #333;
}
/*== Util ===*/
/* Flex box */
.flexBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* Container */
.container {
  min-width: 700px;
  max-width: 960px;
  margin: 0 auto;
}
/* br */
br.onlySP { display: none; }
br.onlyPC { display: inline; }
/*====================================
  Header/Footer
====================================*/
header, header a,
footer, footer a {
  color: #fff;
}
header {
  min-height: 100px;
  text-align: center;
  background-color: #F68F65;
  position: relative;
}
.current::before {
  width: 8px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -13px;
  margin: auto;
}
/*=== Header fixed ===*/
body {
  padding-top: 100px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
}
@media screen and (max-width: 768px) {
  body {
    padding-top: 0;
  }
  header {
    position: relative;
  }
}
/*=== /Header fixed ===*/
header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
header h1 {
  text-align: left;
  margin-right: auto;
}
footer {
  min-height: 20px;
  text-align: center;
  background-color: #F68F65;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/*====================================
  Nav.
====================================*/
.veil nav {
  width: 200px;
  position: absolute;
  bottom: 30px;
  left: 200px;
  z-index: 10;
}
.veil nav a {
  color: #fff;
}
.veil nav .navItem {
  opacity: 0;
  transition: 0s 1s linear;
  padding: 0 15px;
}
.veil nav .navItem:not(:first-of-type) {
  margin-top: 20px;
}
/*=== Hamberger ===*/
/* Nav. button */
.veil .navBtn {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 30px;
  left: 100px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
  z-index: 20;
  margin: auto;
}
.veil .navBtn > span {
  width: 60%;
  height: 3px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.3s ease-in-out;
  margin: auto;
}
.veil .navBtn > span:nth-of-type(1) {
  width: 30%;
  transform: translate(-10px, -4px) rotate(-45deg);
}
.veil .navBtn > span:nth-of-type(3) {
  width: 30%;
  transform: translate(-10px, 4px) rotate(45deg);
}
.veil.open .navBtn > span:nth-of-type(1) {
  transform: translate(10px, -4px) rotate(45deg);
}
.veil.open .navBtn > span:nth-of-type(3) {
  transform: translate(10px, 4px) rotate(-45deg);
}
.arcText {
  text-align: center;
  color: #fff;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  margin: auto;
  white-space: nowrap;
}
.veil {
  width: calc(100vw + 100vh);
  height: 100vh;
  background-color: rgb(235, 108, 108);
  position: fixed;
  bottom: 0;
  left: -100vh;
  z-index: 1000;
  transform: skewX(-45deg);
  transform-origin: left bottom;
  transition: all 0.5s ease-in-out 0ms, left 1s ease-in-out 0ms;
  padding: 0;
  margin-top: 0;
}
.veil.right {
  left: calc(100vw - 200px);
}
.veil.right nav .navItem {
  opacity: 1;
}
.veil.open {
  transform: translateX(-250px) skewX(-45deg);
}
.veil > * {
  transform: skewX(45deg);
}
.veil .drawer{
  position: absolute;
  bottom: 0;
  left: 0;
}
.veil .signboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.veil .signboard p {
  text-align: center;
  font-size: 50px;
  color: #fff;
  opacity: 0;
  transform-origin: center bottom;
  animation: loading 1s 0.5s ease-in-out forwards;
}
@keyframes loading {
  0% {
    transform: translateY(0);
  }
  10% {
    opacity: 1;
  }
  25% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: scale(1.2, 0.8);
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
/*=== Anchor link ===*/
.veil#veilAnchor {
  background-color: rgb(235, 201, 108);
}
.veil#veilAnchor {
  left: calc(-200vh - 100vw);
}
.veil.right#veilAnchor {
  left: calc(200px - 200vh - 100vw);
}
.veil.open#veilAnchor {
  transform: translateX(-250px) skewX(-45deg);
}
.veil#veilAnchor .drawer{
  top: 0;
  bottom: auto;
  left: auto;
  right: 0;
}
.veil#veilAnchor nav {
  top: 30px;
  bottom: auto;
  right: 200px;
  left: auto;
}
.veil#veilAnchor .navBtn {
  top: 30px;
  bottom: auto;
  left: auto;
  right: 100px;
}
.veil#veilAnchor.open {
  transform: translateX(250px) skewX(-45deg);
}
.veil#veilAnchor .navBtn > span:nth-of-type(1) {
  transform: translate(10px, -4px) rotate(45deg);
}
.veil#veilAnchor .navBtn > span:nth-of-type(3) {
  transform: translate(10px, 4px) rotate(-45deg);
}
.veil.open#veilAnchor .navBtn > span:nth-of-type(1) {
  transform: translate(-10px, -4px) rotate(-45deg);
}
.veil.open#veilAnchor .navBtn > span:nth-of-type(3) {
  transform: translate(-10px, 4px) rotate(45deg);
}
/*====================================
  Main
====================================*/
/* Container */
main .container {
  border-radius: 20px;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 40px;
}
/**********************************************
  TAB/SP view
**********************************************/
@media screen and (max-width:768px) {
/*====================================
  Common
====================================*/
  body {
    min-width: 320px;
  }
/*== Util ===*/
/* Container */
  .container {
    min-width: auto;
  }
/* br */
  br.onlySP { display: inline; }
  br.onlyPC { display: none; }
/*====================================
  Header/Footer
====================================*/
  header {
    min-height: 70px;
  }
  header h1 {
    margin-left: auto;
  }
/*====================================
  Nav.
====================================*/
/* Nav. button */
  header.bottom nav {
    bottom: 42px;
  }
  nav {
    left: 100px;
  }
  .navBtn {
    left: 75px;
    bottom: 10px;
  }
  .veil.left {
    left: calc(100vw - 150px);
  }
  .veil.open {
    transform: translateX(-150px) skewX(-45deg);
  }
/*====================================
  Main
====================================*/
/* Container */
  main .container {
    width: 90%;
    min-width: auto;
    padding: 30px 20px 40px;
  }
  section {
    padding: 20px 0;
  }
  section:first-of-type {
    margin-top: 50px;
  }
  section:last-of-type {
    margin-bottom: 100px;
  }
}
_::-webkit-full-page-media, _:future, :root .veil {
  bottom: env(safe-area-inset-bottom);
}
_::-webkit-full-page-media, _:future, :root .veil#veilAnchor {
  top: env(safe-area-inset-top);
}